/* scroll bar */
@import 'simplebar-react/dist/simplebar.min.css';

.css-13ddxbb > * + * {
  margin: 0 !important;
}

input[type='number']::-webkit-inner-spin-button {
  margin-left: 5px;
}

.css-lxfabf .fc-timegrid-event-harness-inset .fc-timegrid-event {
  padding: 0px 4px !important;
}

a.custom-link {
  margin: 0;
  font: inherit;
  color: #00a854;
  text-decoration: none
}

a.custom-link:hover {
  text-decoration: underline;
}