/* scroll bar */
@import 'simplebar-react/dist/simplebar.min.css';

.css-13ddxbb>*+* {
  margin: 0 !important;
}

input[type='number']::-webkit-inner-spin-button {
  margin-left: 5px;
}

.css-lxfabf .fc-timegrid-event-harness-inset .fc-timegrid-event {
  padding: 0px 4px !important;
}

a.custom-link {
  margin: 0;
  font: inherit;
  color: #00a854;
  text-decoration: none
}

a.custom-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .mobil-logo {
    width: 100%;
    height: auto;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.blog-image {
  width: 100%;
  height: auto;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: dashed;
  border-top-color: #dfd7d7;
  background: #f9f9f9;
}

.fc-timegrid-slots td {
  height: 40px !important;
}

.fc-timegrid-event .fc-event-main {
  overflow: hidden;
}

main#blog {
  background-color: #F8F9FA;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-spacing: 2px;
  border-color: #e2e7f1;
}

.mt-2 {
  margin-top: 0.75rem !important;
}

.mb-2 {
  margin-bottom: 0.75rem !important;
}

td.table-mobil {
  width: 140px;
  text-align: center;
}

@media (max-width: 767.98px) {

  /* Targets extra small and small devices (Bootstrap's 'sm' breakpoint) */
  .form-control-mobil {
    min-width: 200px;
  }

  .form-select-mobil {
    min-width: 162px;
  }

  .mobil-btn {
    padding: 3px 10px;
  }

  td.table-mobil {
    width: 100px;
    text-align: center;
  }
}