/* scroll bar */
@import 'simplebar-react/dist/simplebar.min.css';

.css-13ddxbb>*+* {
  margin: 0 !important;
}

input[type='number']::-webkit-inner-spin-button {
  margin-left: 5px;
}

.css-lxfabf .fc-timegrid-event-harness-inset .fc-timegrid-event {
  padding: 0px 4px !important;
}

a.custom-link {
  margin: 0;
  font: inherit;
  color: #00a854;
  text-decoration: none
}

a.custom-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .mobil-logo {
    width: 100%;
    height: auto;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.blog-image {
  width: 100%;
  height: auto;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: dashed;
  border-top-color: #dfd7d7;
  background: #f9f9f9;
}

.fc-timegrid-slots td {
  height: 40px !important;
}

.fc-timegrid-event .fc-event-main {
  overflow: hidden;
}

main#blog {
  background-color: #F8F9FA;
}


/** -- **/
/* sets */
/* table style */
.table-responsive table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  position: relative;
}

.table-responsive table td,
.table-responsive table th {
  position: relative;
  padding-left: 8px;
}

.table-responsive table thead tr {
  height: 50px;
  background: #d1e8d99c;
  font-size: 14px;
  border: 1px dashed #60d99d;
}

.table-responsive table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}

.table-responsive table tbody tr:last-child {
  border: 0;
}

.table-responsive table td,
.table-responsive table th {
  text-align: left;
}

.table-responsive table td.l,
.table-responsive table th.l {
  text-align: right;
}

.table-responsive table td.c,
.table-responsive table th.c {
  text-align: center;
}

.table-responsive table td.r,
.table-responsive table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  .table-responsive table {
    display: block;
  }

  .table-responsive table>*,
  .table-responsive table tr,
  .table-responsive table td,
  .table-responsive table th {
    display: block;
  }

  .table-responsive table thead {
    display: none;
  }

  .table-responsive table tbody tr {
    height: auto;
    padding: 8px 0;
  }

  .table-responsive table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }

  .table-responsive table tbody tr td:last-child {
    margin-bottom: 0;
  }

  .table-responsive table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }

  .table-responsive table tbody tr td:nth-child(1):before {
    content: "Öğün";
  }

  .table-responsive table tbody tr td:nth-child(2):before {
    content: "Adı";
  }

  .table-responsive table tbody tr td:nth-child(3):before {
    content: "Kalori";
  }

    .table-responsive table tbody tr td:nth-child(4):before {
    content: "Açıklama";
  }
}

/** -- **/

.table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  /*max-width: 800px;*/
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.mt-2 {
  margin-top: 0.75rem !important;
}

.mb-2 {
  margin-bottom: 0.75rem !important;
}

td.table-mobil {
  width: 140px;
  text-align: center;
}

@media (max-width: 767.98px) {

  /* Targets extra small and small devices (Bootstrap's 'sm' breakpoint) */
  .form-control-mobil {
    min-width: 175px;
  }

  .form-select-mobil {
    min-width: 162px;
  }

  .mobil-btn {
    padding: 3px 10px;
  }

  td.table-mobil {
    width: 100px;
    text-align: center;
  }
}